
body {
  font-family: 'Roboto', sans-serif;
  background: url(img/bg-texture.jpg), #EFEDE0;
  color: #707070 ;
}


a {
  color: #000000;
  text-decoration: none;
}

h1 {
  font-size: 60px;
  color: #000000;
  letter-spacing: -1.5px;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #000000;
  text-align: center;
  text-shadow: 0px 2px 3px #666;
}

.btn {
  color: #000000;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 25px;
}

.btn:hover {
  background-color: #4CC4A7;
}

/*
.col-1-1,
.col-1-2,
.col-1-3,
.col-1-4 {
  border: 1px solid #000000;
}
*/


#nav {
  width: 100%;
  float: right;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc;
}
#nav li {
  float: right;
}
#nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  color: #000000;

}
#nav li a:hover {
  color: #c00;
  background-color: #fff; }


#intro {
    font-size: 5.000em;
    text-align: center;
    text-shadow: 0px 2px 3px #666;
}

#logo {
  position: relative;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter:         drop-shadow(2px 2px 2px #222); 
  top: 20px;
  left: 100px;
  z-index: 99;
}

#logo:hover {
  transform:rotate(3deg);
  -ms-transform:rotate(3deg); /* IE 9 */
  -webkit-transform:rotate(3deg); /* Safari and Chrome */
}
#img1 {
  box-shadow: 2px 2px 2px #888888;
  border: 8px solid #FFFFFF;
  margin-right: 0px;
}
#img1:hover {
  box-shadow: 4px 4px 4px #888888;
  text-align: right;
  transform:rotate(3deg);
  -ms-transform:rotate(3deg); /* IE 9 */
  -webkit-transform:rotate(3deg); /* Safari and Chrome */
}

#img2 {
  box-shadow: 2px 2px 2px #888888;
  border: 8px solid #FFFFFF;
  margin-right: 0px;
}

#img2:hover {
  box-shadow: 4px 4px 4px #888888;
  text-align: right;
  transform:rotate(-3deg);
  -ms-transform:rotate(-3deg); /* IE 9 */
  -webkit-transform:rotate(-3deg); /* Safari and Chrome */
}

.col-1-1 {
  padding-top: 10px;
}
.col-1-2 {
  text-align: center;
  padding-top: 10px;
}


#copyright {
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}
















